body {
  background: #0e2938;
  margin: 0;
  color: white;
  font-family: "transat-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  //font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

button {
  border: none;
  outline: inherit;
  background: none;
  background: #ffffff33;
  cursor: pointer;
  color: white;
  padding: 6px 16px;
  border-radius: 100px;
  font-size: 22px;
  font-variant: petite-caps;
}

.text-button {
  background: none;
  padding-left: 0;
  padding-right: 0;
}

input {
  border: none;
  background: none;
  background: rgb(255 255 255);
  color: black;
  padding: 6px 16px;
  border-radius: 100px;
  font-size: 22px;
}

input:focus {
  outline: none;
}

.app {
  display: flex;
  flex-direction: column;
  //height: 100%;
  min-height: calc(100vh - 10vh) !important;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.loading-spinner {
  margin: auto;
}

.center-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.center-flex > * {
  margin: 6px;
}
