header {
  padding: 8px;
  background: #144b52;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 54px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

.button-logout {
  margin-left: auto;
}